<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="Server" class="org.eclipse.jetty.server.Server"
		init-method="start" destroy-method="stop">
		<property name="connectors">
			<list>
				<bean id="Connector" class="org.eclipse.jetty.server.nio.SelectChannelConnector">
					<property name="port" value="8080" />
					<!-- DEGUG -->
					<property name="maxIdleTime" value="3600000" />
					<property name="soLingerTime" value="-1" />
					
				</bean>
			</list>
		</property>

		<property name="handler">
			<bean id="handlers" class="org.eclipse.jetty.server.handler.HandlerCollection">
				<property name="handlers">
					<list>
						<ref bean="contexts" />
					</list>
				</property>
			</bean>
		</property>
	</bean>
	<bean id="contexts" class="org.eclipse.jetty.server.handler.ContextHandlerCollection">
		<property name="handlers">
			<list>
				<bean id="defaultHandler" class="org.eclipse.jetty.server.handler.DefaultHandler">
					<property name="serveIcon" value="false" />
				</bean>
			</list>
		</property>
	</bean>


</beans>
