<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="zoo.jersey.jetty" />

	<bean id="Server" class="org.eclipse.jetty.server.Server"
		init-method="start" destroy-method="stop">
		<property name="connectors">
			<list>
				<bean id="Connector" class="org.eclipse.jetty.server.nio.SelectChannelConnector">
					<property name="port" value="8080" />
					<!-- DEGUG -->
					<property name="maxIdleTime" value="3600000" />
					<property name="soLingerTime" value="-1" />

				</bean>
			</list>
		</property>

		<property name="handler">
			<bean id="handlers" class="org.eclipse.jetty.server.handler.HandlerCollection">
				<property name="handlers">
					<list>
						<ref local="ContextHandler" />

						<bean id="defaultHandler" class="org.eclipse.jetty.server.handler.DefaultHandler">
							<property name="serveIcon" value="false" />
							<property name="showContexts" value="false" />
						</bean>

						<!-- <bean class="org.eclipse.jetty.server.handler.RequestLogHandler"> 
							<property name="requestLog"> <bean id="requestLog" class="org.eclipse.jetty.server.NCSARequestLog"> 
							<property name="filename" value="./jetty.request.yyyyy_mm_dd.log" /> <property 
							name="preferProxiedForAddress" value="true" /> <property name="logDateFormat" 
							value="yyyy-MM-dd HH:mm:ss Z"></property> </bean> </property> </bean> -->
					</list>
				</property>
			</bean>
		</property>
	</bean>

	<bean id="ContextHandler" class="org.eclipse.jetty.servlet.ServletContextHandler">
		<property name="contextPath" value="/" />
		<property name="servletHandler">
			<bean class="org.eclipse.jetty.servlet.ServletHandler">
				<property name="servlets">
					<list>
						<bean class="org.eclipse.jetty.servlet.ServletHolder">
							<property name="servlet">
								<!-- <bean class="com.sun.jersey.spi.container.servlet.ServletContainer" 
									/> -->
								<!-- <bean class="com.sun.jersey.spi.spring.container.servlet.SpringServlet" 
									/> -->
								<bean class="zoo.jersey.jetty.rest.spring.SpringServlet" />
							</property>
							<property name="name" value="jersey_api" />
							<property name="initParameters">
								<map>
									<entry key="com.sun.jersey.config.property.resourceConfigClass"
										value="com.sun.jersey.api.core.PackagesResourceConfig" />
									<entry key="com.sun.jersey.config.property.packages"
										value="zoo.jersey.jetty.rest" />
								</map>
							</property>
						</bean>
					</list>
				</property>
				<property name="servletMappings">
					<list>
						<bean class="org.eclipse.jetty.servlet.ServletMapping">
							<property name="pathSpec" value="/test/*" />
							<property name="servletName" value="jersey_api" />
						</bean>
					</list>
				</property>
			</bean>
		</property>
	</bean>

</beans>
