<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="zoo.persist.mybatis.dao.RoleMapper">

	<cache />

	<sql id="roleColumns">
		rol_id AS id,
		rol_name AS name,
		rol_description AS
		description,
		rol_is_active
		AS active,
		rol_date_inserted AS dateInserted,
		rol_date_modified AS
		dateModified
	</sql>


	<select id="getRole" parameterType="int" resultType="Role">
		SELECT
		<include refid="roleColumns" />
		FROM roles
		WHERE
		rol_id = #{id}
	</select>

	<sql id="roleColumnsRaw">
		rol_id, rol_name, rol_description, rol_is_active,
		rol_date_inserted, rol_date_modified
	</sql>

	<resultMap id="roleResultMap" type="Role">
		<id property="id" column="rol_id" />
		<result property="name" column="rol_name" />
		<result property="description" column="rol_description" />
		<result property="active" column="rol_is_active" />
		<result property="dateInserted" column="rol_date_inserted" />
		<result property="dateModified" column="rol_date_modified" />
	</resultMap>

	<select id="getRoleList" resultMap="roleResultMap">
		SELECT
		<include refid="roleColumnsRaw" />
		FROM roles
	</select>

	<insert id="insertRole" parameterType="Role" useGeneratedKeys="true" keyProperty="id" keyColumn="rol_id" >
		INSERT INTO roles
		(
		<include refid="roleColumnsRaw" />
		)
		VALUES (#{id},
		#{name}, #{description}, #{active},
		#{dateInserted},
		#{dateModified})
	</insert>

</mapper>